{% extends 'user/userhome.html' %}
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <center><h4>Delivey processing</h4></center>
            {% for i in l%}
            <div class="col-lg-6 col=md-6">
                
                <div><img src="static/image/{{i.6}}" id="img3"  alt=""></div>
                <div id="a2" > {{i.1}}</div>
                    <div id="a3">{{i.7}}</div></a>
                    
            </div>
            {% endfor %}

            <center><h4>Delivered Product</h4></center>
            {% for i in n%}
            <div class="col-lg-6 col=md-6">
                
                <div><img src="static/image/{{i.6}}" id="img3"  alt=""></div>
                <div id="a2" > {{i.1}}</div>
                    <div id="a3">{{i.7}}</div></a>
                    
            </div>
            {% endfor %}

        </div>

    </div>
    {% endblock %}